@model Upwork_2019_08_08.Models.ClientUser

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid viewback">
    <h2 style="color:#1c536b">User #@Model.id</h2> <br />
    <div class="row">

        <div class="col-6">
            <h3 style="color:#1c536b">Name: </h3>
            <input type="text" class="form-control" disabled value="@Model.name" /> <br />
        </div>
        <div class="col-6">
            <h3 style="color:#1c536b">Surname:</h3>
            <input type="text" class="form-control" disabled value="@Model.surname" /> <br />
        </div>
        <div class="col-6">
            <h3 style="color:#1c536b">Email:</h3>
            <input type="text" class="form-control" disabled value="@Model.email" /> <br />
        </div>
        <div class="col-6">
            <h3 style="color:#1c536b">Status:</h3>
            <input type="text" class="form-control" disabled value="User" /> <br />
        </div>

    </div>
</div>