@model List<Upwork_2019_08_08.Models.Departament>
@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/b47f0231f5.js"></script>
    <link rel="stylesheet" href="~/static/css/style.css">
</head>
<body>

    <Section class="model">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-4"></div>
                <div class="col-lg-4">
                    <div class="loginBox">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="loginImage text-center">
                                        <img src="https://via.placeholder.com/250x150" alt="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="loginForm text-center">
                                        <form action="@Url.Action("SignUpProcess","Sign")" method="post">
                                            @if (HttpContextAccessor.HttpContext.Session.GetInt32("Exist") == 1)
                                            {
                                                <div class="alert alert-danger" role="alert">
                                                    This email already exists
                                                </div>

                                                HttpContextAccessor.HttpContext.Session.Remove("Exist");
                                            }

                                            <h5 style="font-weight:500;" class="loginTextColor">SIGN UP</h5>
                                            <input type="text" class="form-control" name="name" id="name" placeholder="Name">
                                            <input type="text" class="form-control" name="surname" id="surname" placeholder="Surname"> <br />
                                            <input type="email" class="form-control" name="email" id="email" placeholder="E-mail Address">
                                            <input type="password" class="form-control" name="password" id="password" placeholder="Password"> <br />
                                            <select name="departmentID" class="form-control" id="departmentID">
                                                <option disabled selected>Select your department</option>
                                                @foreach (var item in Model)
                                                {
                                                    <option value="@item.id">@item.name</option>
                                                }
                                            </select>
                                            <br>
                                            <input type="submit" class="btn btn-primary" style="background-color: #49819A; border: none" value="Sign Up">
                                        </form>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="offset-lg-4"></div>
            </div>
        </div>
    </Section>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>
</html>