
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Reset Password</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/b47f0231f5.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"> </script>

    <style>
        body{
            background-color:rgb(235, 235, 235);
        }
    </style>
</head>
<body>

    <div class="container-fluid">
        <div class="row">
            <div class="offset-lg-4"></div>
            <div class="col-lg-4">
                <form method="post" action="@Url.Action("ComplateReset", "Reset")">
                    <div class="container-fluid">
                        <div class="row">
                            <input type="hidden" name="userid" value="@ViewBag.id" />
                            <input type="hidden" name="who" value="@ViewBag.who" />
                            <input type="hidden" name="token" value="@ViewBag.token" />
                            <div class="col-12">
                                <label style="font-size: 20px; font-weight: 500">New Password:</label><br />
                                <input class="form-control" type="password" name="password" /> <br />
                            </div>
                            <div class="col-12">
                                <label style="font-size: 20px; font-weight: 500">Confirm Password:</label> <br />
                                <input class="form-control" type="password" name="again" /> <br />
                            </div>
                            <div class="col-12 text-center">
                                <button class="btn btn-primary" type="submit">Reset</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="offset-lg-4">

            </div>
        </div>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

</body>
</html>
