@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor HttpContextAccessor
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Log In</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <script src="https://kit.fontawesome.com/b47f0231f5.js"></script>
    <link rel="stylesheet" href="~/static/css/style.css">

    <style>
        li{
            text-align: start;
        }
        ul{
                padding: 0 10px;
        }
    </style>
</head>
<body>

    <Section class="model">
        <div class="container-fluid">
            <div class="row">
                <div class="offset-lg-4"></div>
                <div class="col-lg-4">
                    <div class="loginBox">
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-12">
                                    <div class="loginImage text-center">
                                        <img src="~/static/images/logo.webp" alt="">
                                    </div>
                                </div>
                                <div class="col-12">
                                    <div class="loginForm text-center">
                                        <form action="@Url.Action("SignInProcess","AdminSign")" method="post">
                                            @if (HttpContextAccessor.HttpContext.Session.GetInt32("AuthFailed") == 1)
                                            {
                                                <div class="alert alert-danger" role="alert">
                                                    Credentials does not match
                                                </div>

                                                HttpContextAccessor.HttpContext.Session.Remove("AuthFailed");
                                            }
                                            @if(HttpContextAccessor.HttpContext.Session.GetInt32("inactive") == 1){
                                                <div class="alert "alert-danger" role="alert">
                                                    Your account is disabled. Please contact support to resolve the issue. 
                                                </div>

                                                HttpContextAccessor.HttpContext.Session.Remove("inactive");

                                            }
                                            <h5 style="font-weight:500;" class="loginTextColor">Admin Panel</h5>
                                            <input required type="email" class="form-control" name="email" id="email" placeholder="E-mail Address">
                                            <input required type="password" class="form-control" name="password" id="password" placeholder="Password" data-validation="length" data-validation-length="min6">
                                            <input type="checkbox" value="checked" name="remember" id="remember"> <span class="RememberText loginTextColor">Remember me</span>
                                            <br>
                                            <input type="submit"  class="btn btn-primary" style="background-color: #49819A; width: 100%; border: none" value="Sign In">
                                        </form>
                                        <!--  <button type="button" class="btn btn-link"><a href="@Url.Action("SignUp","AdminSign")">Click here to signup for FREE!</a></button>-->

                                        <button type="button"  class="btn btn-link"><a href="@Url.Action("GetEmailForPassword","AdminSign")">Forgot Password?</a></button>

                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div style="width: 100%" class="text-center">
                        <img src="~/static/images/sslimg.png" />
                    </div>
                </div>
                <div class="offset-lg-4"></div>
            </div>
        </div>
    </Section>


    <script src="https://code.jquery.com/jquery-3.3.1.min.js" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
            integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>

    <script>

    </script>
</body>
</html>